
body {
    font-family: sans-serif;
    margin-top: 5px;
	background-image: url("bgrnd.jpg");
}

.image {
    padding: 1em;
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius: 5px;
}

.header {
	height: 100px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orange; 
}

.container {
    width: 50%;
	float: left;
    color: darkgreen;
    font-family: sans-serif;
	margin-top: 5px;
	padding: 10px;
}

.footer {
	width: 70%;
	margin: auto;
	padding-top: 80px;
	color: yellow;
	text-align: center;
}

#footer-tab {
	clear: both;
    height: 100px;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    background-color: green;
}

#name-header {
	text-align: center;
	color: darkgreen;
}

h4{
	display: inline;
	color: darkgreen;
}

#phone {
	float: left;
	margin-left: 5px;
}

#email {
	float: right;
	margin-right: 5px;
}

#left1{
	float: left;
	clear: both;
}

.leftright{
	width: 20%;
	background-color: lightgrey;
	border: 0px;
	height: 530px;	
	display: inline-block;
	border-radius: 5px;	
}

#right{
	float: right;
}