
body {
    font-family: sans-serif;
	background-image: url("bgrnd.jpg");
	background-size: cover; 
}

#menu {
	margin-left: 5px;
}

.image {
    padding: 1em;
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius: 5px;
}

.header {
//	position: fixed;
	height: 130px;
	width: 100%;
	top: 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: darkseagreen; 
//	overflow: auto;
}

.container {
    width: 50%;
	float: left;
    color: darkgreen;
    font-family: sans-serif;
	margin-top: 5px;
	padding: 10px;
}

.footer {
	width: 70%;
	margin: auto;
	padding-top: 70px;
	font-size: 18px;
	color: chocolate;
	text-align: center;
}

#count {
	color: gold;
	font-size: 20px;
}

#footer-tab {
	clear: both;
//	position: fixed;
    height: 100px;
	width: 100%;
//	bottom: 0;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    background-color: darkseagreen;
}

#name-header {
	text-align: center;
	color: darkgreen;
}

h4{
	display: inline;
	color: darkgreen;
}

#phone {
	float: left;
	margin-left: 5px;
}

#email {
	float: right;
	margin-right: 5px;
}

#left1{
	float: left;
	clear: both;
}

.leftright{
	width: 20%;
	background-color: beige;
	border: 0px;
	min-height: 530px;
	height: auto;
	display: inline-block;
	border-radius: 5px;	
}

#right{
	float: right;
}